<div class="list-form">

  <h1>Add a movie to my List</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit class:"btn btn-flat shadow"%>
  <% end %>
</div>
